@model IEnumerable<InventoryApp.Models.Inventory>

@{
    ViewBag.Title = "ShowInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowInventory</h2>

<p>
    @Html.ActionLink("Create New", "CreateInventory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditInventory", new { Id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { Id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteInventory", new { Id=item.Id })
        </td>
    </tr>
}

</table>
